
@{
    ViewBag.Title = "error1";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br/>
<br />
<h2>error</h2>
<p>
    <b>Error can be happen for worng entry</b>
    <br />
    <b>Error can be happen for  no login</b>

</p>
@ViewBag.a1;
@ViewBag.a2;

